/*---------------------------- Медиа запросы для адаптивности ----------------------------*/


/*------------------------------------------------------------------------------------------------ Для экранов размером меньше 1265px*/
@media (max-width: 1265px){

    /*---------------------------- Медиа запросы для раздела "Reviews" ----------------------------*/
    /*jQuery, растягивает снаружи блок слайдера*/
    .reviews-slider .slick-list{
        margin: 0;
    }

    /*jQuery, выталкивает изнутри блок слайдера*/
    .reviews-slider .slick-slide{
        margin: 0;
    }

    /*Убирает тень*/
    .reviews-box{
        box-shadow: none;
    }

}

/*------------------------------------------------------------------------------------------------ Для экранов размером меньше 1160px */
@media (max-width: 1160px){

    /*---------------------------- Медиа запросы для раздела "Price" ----------------------------*/
    /*Изменение позиционирования блока с предложениями*/
    .price__items{
        flex-wrap: wrap;
    }

    /*Изменение размеров предложения в блоке с предложениями*/
    .price-item{
        max-width: 48%;
        margin-bottom: 50px;
    }

    /*Изменение позиционирования предложения в блоке с предложениями*/
    .price-item__number{
        margin: 0 auto;
        left: 0;
        right: 0;
    }

}

/*------------------------------------------------------------------------------------------------ Для экранов размером меньше 1105px*/
@media (max-width: 1105px){

    /*---------------------------- Медиа запросы для раздела "Reviews" ----------------------------*/
    /*Изменение отступа сладера от заголовка*/
    .reviews-slider{
        margin-top: 60px;
    }

    /*Изменение позиции слайдов*/
    .reviews-box{
        max-width: 520px;
        margin: 0 auto;
    }

}

/*------------------------------------------------------------------------------------------------ Для экранов размером меньше 1065px*/
@media (max-width: 1065px){

    /*---------------------------- Медиа запросы для раздела "Top" ----------------------------*/
    /*Изменение ширины информации левой половины*/
    .top-info{
        max-width: 425px;
    }

    /*---------------------------- Медиа запросы для раздела "Footer" ----------------------------*/
    /*Смена позиционирования элементов*/
    .footer__inner{
        flex-wrap: wrap;
    }

    /*Смена позиционирования первого блока*/
    .footer-col__logo{
        width: 100%;
        margin-bottom: 30px;
    }

    /*---------------------------- Медиа запросы для раздела "Partners" ----------------------------*/
    /*Выравнивание элементов в колонку*/
    .partners-box{
        flex-direction: column;
    }

}

/*------------------------------------------------------------------------------------------------ Для экранов размером меньше 992px*/
@media (max-width: 992px){

    /*---------------------------- Медиа запросы для раздела "Header" ----------------------------*/
    /*Скрывает старндарное меню*/
    .menu__list{
        display: none;
        position: absolute;
        top: 87px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        border-top: 1px solid #000;
        /*Исправление бага, когда бургер-меню наезжает на нижний блок*/
        z-index: 5;
    }

    /*Стилизация ссылок в бургер-меню*/
    .menu__list a{
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #000;
        /*Исправление бага, когда бургер-меню наезжает на нижний блок*/
        background-color: #fff;
    }
    .menu__list li{
        margin-left: 0;
    }

    /*Показывает бургер-меню*/
    .btn__menu{
        display: block;
    }

}

/*------------------------------------------------------------------------------------------------ Для экранов размером меньше 940px*/
@media (max-width: 940px){

    /*---------------------------- Медиа запросы для раздела "Top" ----------------------------*/
    /*Изменение ширины информации левой половины*/
    .top-info{
        max-width: 325px;
    }

}


/*------------------------------------------------------------------------------------------------ Для экранов размером меньше 855px*/
@media (max-width: 855px){
    .top-images__box img{
        width: 300px;
    }

    /*Изменение ширины белого круга правой половины*/
    .top-images__circle{
        width: 160px;
        height: 160px;
        top: -30px;
        right: -30px;
    }

}

/*------------------------------------------------------------------------------------------------ Для экранов размером меньше 740px*/
@media (max-width: 740px){

    /*---------------------------- Медиа запросы для раздела "Top" ----------------------------*/
    /*Изменение позиционирования левой и правой половины*/
    .top__inner{
        flex-wrap: wrap;
        justify-content: center;
    }

    /*Изменение ширины информации левой половины*/
    .top-info{
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 75px;
    }

    .top,
    .reviews,
    .price{
        padding-top: 50px;
        padding-bottom: 80px;
    }

    /*---------------------------- Медиа запросы для раздела "Price" ----------------------------*/
    /*Изменение размеров предложения в блоке с предложениями*/
    .price-item{
        max-width: 100%;
    }

    /*---------------------------- Медиа запросы для раздела "Footer" ----------------------------*/
    /*Смена позиционирования четвертого блока*/
    .footer-form{
        width: 100%;
        margin-bottom: 30px;
    }

    /*Смена позиционирования элементов*/
    .footer__inner{
        justify-content: flex-start;
    }

}

/*------------------------------------------------------------------------------------------------ Для экранов размером меньше 580px*/
@media (max-width: 580px){

    /*---------------------------- Медиа запросы для раздела "Reviews" ----------------------------*/
    /*Изменение позиционирования информации в слайде*/
    .reviews-box{
        display: block;
    }

    /*Изменение позиционирования картинки в слайде*/
    .reviews-box__images{
        width: 100%;
        min-height: 200px;
    }

    /*Изменение позиционирования текста в слайде*/
    .reviews-box__content{
        width: 100%;
        padding: 20px;
        min-height: 260px;
    }

    /*Убирает отступ от слайдера*/
    .reviews-slider .slick-slide{
        padding-bottom: 30px;
    }

}

/*------------------------------------------------------------------------------------------------ Для экранов размером меньше 399px*/
@media (max-width: 399px){

    /*---------------------------- Медиа запросы для раздела "Top" ----------------------------*/
    /*Изменение ширины информации левой половины*/
    .top-info__title{
        font-size: 40px;
        line-height: 42px;
    }

    /*Изменение позиции белого круга правой половины*/
    .top-images__circle{
        top: -5px;
        right: -10px;
    }

    /*---------------------------- Медиа запросы для раздела "Price" ----------------------------*/
    .title{
        font-size: 36px;
        line-height: 40px;
    }

    /*Изменение отступов от текста*/
    .price__descr{
        margin: 35px auto 50px;
    }
    /*Изменение внутренних отступов внутри блоков*/
    .price-item{
        padding: 0 20px 60px;
    }

    /*---------------------------- Медиа запросы для раздела "Footer" ----------------------------*/
    /*Смена позиционирования второго и третьего блока*/
    .footer-menu{
        margin-bottom: 30px;
        width: 100%;
    }

    /*Смена позиционирования четвертого блока*/
    .footer-form{
        margin-top: 0;
    }

}




















/*------------------------------------------------------------------------------------------------ Для экранов размером больше 992px*/
@media (min-width: 992px){

    /*---------------------------- Медиа запросы для раздела "Header" ----------------------------*/
    /*Показывает стандартное меню после раскрытия на большой экран*/
    .menu__list{
        display: flex !important;
    }

}